h1{
    background-color: blue;
}
.black{
    background-color: black;
    height: 80px;
    width: 80px;
}
.white{
    background-color: white;
    height: 80px;
    width:80px;
}
.container{
    height: fit-content;
    border:solid 10px brown;
    display:flex;
    justify-content: center;
    width: 639px;
    margin-left: 400px;
}
   



